h1{
  color: #00b8a9;
  font-style: italic;
  font-size: 30px;
}

img:hover{
  background-color: #71c9ce;
}
.gf{
  background-color: green;
}

.kiss{
  background-color: pink;
}

.ring{
  background-color: #f9ed69;
}

.center{
  border-radius: 100%;
}
